# Created by venv; see https://docs.python.org/3/library/venv.html

################################
# ===== PYTHON / DJANGO ===== #
################################

# Environnements virtuels
env/
venv/
.venv/

# Cache Python
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Fichier DB SQLite (si utilisé)
db.sqlite3

# Fichiers temporaires
*.swp
*.tmp

# Variables d’environnement
.env
.env.*

# Static collect (prod)
staticfiles/

################################
# ===== DJANGO MEDIA ===== #
################################

media/

################################
# ===== ANGULAR ===== #
################################

# Dépendances
node_modules/

# Build Angular
dist/
.angular/
out-tsc/

# Logs npm/yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

################################
# ===== IDE / SYSTEM ===== #
################################

.vscode/
.idea/
.DS_Store
Thumbs.db

################################
# ===== TEST / COVERAGE ===== #
################################

coverage/
htmlcov/